@model Pergunta
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form action="/home/create" method="post">

    @Html.EditorFor(a => a.Descricao)
    @Html.ValidationMessageFor(a => a.Descricao)
    @*<input type="text" name="descricao" value=""/>
        <input type="text" name="autor" value="" />*@
    <input type="submit" name="btnsubmit" value="Salvar" />
    @Html.ValidationSummary()
    <img src="~/goku.jpg" />
</form>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"></script>
